<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>button</title>
    <link href="../tailwind.css" rel="stylesheet" />
  </head>
  <body
    class="grid h-screen w-screen place-items-center gap-6 bg-gray-100 py-6"
  >
    <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-6">
      <button
        class="rounded-md bg-sky-300 px-4 py-3 text-sky-800 shadow-md transition-colors duration-150 ease-in hover:bg-sky-500 hover:text-sky-100 focus:outline-none focus:ring focus:ring-sky-400 active:bg-sky-500 active:outline active:outline-sky-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-orange-300 px-4 py-3 text-orange-900 shadow-md transition-colors duration-150 ease-in hover:bg-orange-500 hover:text-orange-100 focus:outline-none focus:ring focus:ring-orange-400 active:bg-orange-500 active:outline active:outline-orange-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-teal-300 px-4 py-3 text-teal-900 shadow-md transition-colors duration-150 ease-in hover:bg-teal-500 hover:text-teal-100 focus:outline-none focus:ring focus:ring-teal-400 active:bg-teal-500 active:outline active:outline-teal-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-slate-300 px-4 py-3 text-slate-900 shadow-md transition-colors duration-150 ease-in hover:bg-slate-500 hover:text-slate-100 focus:outline-none focus:ring focus:ring-slate-400 active:bg-slate-500 active:outline active:outline-slate-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-indigo-300 px-4 py-3 text-indigo-900 shadow-md transition-colors duration-150 ease-in hover:bg-indigo-500 hover:text-indigo-100 focus:outline-none focus:ring focus:ring-indigo-400 active:bg-indigo-500 active:outline active:outline-indigo-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-rose-300 px-4 py-3 text-rose-900 shadow-md transition-colors duration-150 ease-in hover:bg-rose-500 hover:text-rose-100 focus:outline-none focus:ring focus:ring-rose-400 active:bg-rose-500 active:outline active:outline-rose-400 active:duration-75"
      >
        Button
      </button>
    </div>
    <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-6">
      <button
        class="rounded-md bg-sky-300 px-4 py-3 text-xl text-sky-800 shadow-md transition-colors duration-150 ease-in hover:bg-sky-500 hover:text-sky-100 focus:outline-none focus:ring focus:ring-sky-400 active:bg-sky-500 active:outline active:outline-sky-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-orange-300 px-4 py-3 text-xl text-orange-900 shadow-md transition-colors duration-150 ease-in hover:bg-orange-500 hover:text-orange-100 focus:outline-none focus:ring focus:ring-orange-400 active:bg-orange-500 active:outline active:outline-orange-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-teal-300 px-4 py-3 text-xl text-teal-900 shadow-md transition-colors duration-150 ease-in hover:bg-teal-500 hover:text-teal-100 focus:outline-none focus:ring focus:ring-teal-400 active:bg-teal-500 active:outline active:outline-teal-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-slate-300 px-4 py-3 text-xl text-slate-900 shadow-md transition-colors duration-150 ease-in hover:bg-slate-500 hover:text-slate-100 focus:outline-none focus:ring focus:ring-slate-400 active:bg-slate-500 active:outline active:outline-slate-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-indigo-300 px-4 py-3 text-xl text-indigo-900 shadow-md transition-colors duration-150 ease-in hover:bg-indigo-500 hover:text-indigo-100 focus:outline-none focus:ring focus:ring-indigo-400 active:bg-indigo-500 active:outline active:outline-indigo-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-rose-300 px-4 py-3 text-xl text-rose-900 shadow-md transition-colors duration-150 ease-in hover:bg-rose-500 hover:text-rose-100 focus:outline-none focus:ring focus:ring-rose-400 active:bg-rose-500 active:outline active:outline-rose-400 active:duration-75"
      >
        Button
      </button>
    </div>
    <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-6">
      <button
        class="rounded-md bg-sky-300 px-4 py-3 text-2xl text-sky-800 shadow-md transition-colors duration-150 ease-in hover:bg-sky-500 hover:text-sky-100 focus:outline-none focus:ring focus:ring-sky-400 active:bg-sky-500 active:outline active:outline-sky-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-orange-300 px-4 py-3 text-2xl text-orange-900 shadow-md transition-colors duration-150 ease-in hover:bg-orange-500 hover:text-orange-100 focus:outline-none focus:ring focus:ring-orange-400 active:bg-orange-500 active:outline active:outline-orange-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-teal-300 px-4 py-3 text-2xl text-teal-900 shadow-md transition-colors duration-150 ease-in hover:bg-teal-500 hover:text-teal-100 focus:outline-none focus:ring focus:ring-teal-400 active:bg-teal-500 active:outline active:outline-teal-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-slate-300 px-4 py-3 text-2xl text-slate-900 shadow-md transition-colors duration-150 ease-in hover:bg-slate-500 hover:text-slate-100 focus:outline-none focus:ring focus:ring-slate-400 active:bg-slate-500 active:outline active:outline-slate-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-indigo-300 px-4 py-3 text-2xl text-indigo-900 shadow-md transition-colors duration-150 ease-in hover:bg-indigo-500 hover:text-indigo-100 focus:outline-none focus:ring focus:ring-indigo-400 active:bg-indigo-500 active:outline active:outline-indigo-400 active:duration-75"
      >
        Button
      </button>
      <button
        class="rounded-md bg-rose-300 px-4 py-3 text-2xl text-rose-900 shadow-md transition-colors duration-150 ease-in hover:bg-rose-500 hover:text-rose-100 focus:outline-none focus:ring focus:ring-rose-400 active:bg-rose-500 active:outline active:outline-rose-400 active:duration-75"
      >
        Button
      </button>
    </div>
  </body>
</html>
